


nav{
    text-align: center; 

}

.img{
    display: block; 
    width: 100px;
    height: auto;
    text-align: center;
}

.anna{
    text-align: center; 
    font-family: 'Courier New', Courier, monospace; 
    font-size: 20px;
}