* {
    box-sizing: border-box;
    margin: 0px;
}

.img{
    display: block; 
    width: 100px;
    height: auto;
    text-align: center;
}
  
  
  
  /*ANNA start */
  
  
  .anna{
    text-align: center;
    font-family: 'Courier New', Courier, monospace; 
}

.left{
    text-align: left; 
}
.div { /* byt klassnamn pls */
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    background: indigo;
    position: relative;
    -webkit-animation: mymove 5s infinite;
    /* Safari 4.0 - 8.0 */
    animation: mymove 5s infinite;
}

/* Safari 4.0 - 8.0 
@-webkit-keyframes mymove {
    from {
        top: 0px;
    }

    to {
        top: 200px;
    }
}
/* Standard syntax */
@keyframes mymove {
    from {
        left: 400px;
    }

    to {
        left: 600px;
    }
}
  
  /*ANNA Slut*/

  /*ELLINOR Start*/
  .FTX{
      text-align: center;
      background-color: rgb(0, 0, 0);
      padding: 60px;
      font-family: serif;
      margin: auto;
      color: #eb47bd;
  }
  .FTH{
    text-align: center;
    color:#d9d9d9;
    padding: 60px;
    font-family: serif;
    margin: auto;
    background-color: #e44d26;
}
.FTJ{
    text-align: center;
    color:#000000;
    padding: 60px;
    font-family: serif;
    margin: auto;
    background-color: #f7df1e;
}
.FTC{
    text-align: center;
    color:#d9d9d9;
    padding: 60px;
    font-family: serif;
    margin: auto;
    background-color: #0171bf;
}
  nav{
      text-align: center;
      background-color: rgb(142, 142, 142);
      padding: 30px;
  }
  nav>a{
    text-align: center; 
    padding: 12px 30px 12px 30px;
    text-decoration: none;
    color: #000;

}
nav a:hover{
    color: rgb(190, 42, 42);
}
.active{
    color: rgb(255, 255, 255);
}

.main-content{
    text-align: center;
    height: auto;
    padding: 35px;
}
footer{
    background-color: rgb(216, 216, 216, 0.27);
    padding: 20px;
    text-align: center;
}
  
  /*ELLINOR Slut*/

/* tengils kod börjar */
.code, .result {
    width: 49%;
    display: inline-block;
    text-align: left;
    background-color: #fff;
}
.explanation {
    text-align: left;
}
.result {
    float: right;
}
.subject {
    padding: 5px;
    background-color: #eee;
    box-shadow: 2px 2px 20px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.subject h2, .subject p {
    margin-top: 10px;
    margin-bottom: 10px;
}
/* tengils kod slutar */


/*FRIDA start */

.clearfix{
    clear: both;
}



/*FRIDA sluta*/


