* {
  box-sizing: border-box;
  margin: 0px;
}

.img {
  display: block;
  width: 100px;
  height: auto;
  text-align: center;
}

/*ANNA start */

.anna {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

.left {
  text-align: left;
}
.div {
  /* byt klassnamn pls */
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: indigo;
  position: relative;
  -webkit-animation: mymove 5s infinite;
  /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
}

/* Safari 4.0 - 8.0 
@-webkit-keyframes mymove {
    from {
        top: 0px;
    }

    to {
        top: 200px;
    }
}
/* Standard syntax */
@keyframes mymove {
  from {
    left: 400px;
  }

  to {
    left: 600px;
  }
}

/*ANNA Slut*/

/*ELLINOR Start*/
.FTX {
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding: 60px;
  font-family: "Old Standard TT", serif;
  margin: auto;
  color: #eb47bd;
  font-size: 40px;
}
.FTH {
  text-align: center;
  color: #d9d9d9;
  padding: 60px;
  font-family: "Old Standard TT", serif;
  margin: auto;
  background-color: #e44d26;
  font-size: 40px;
}
.FTJ {
  text-align: center;
  color: #000000;
  padding: 60px;
  font-family: "Old Standard TT", serif;
  margin: auto;
  background-color: #f7df1e;
  font-size: 40px;
}
.FTC {
  text-align: center;
  color: #d9d9d9;
  padding: 60px;
  font-family: "Old Standard TT", serif;
  margin: auto;
  background-color: #0171bf;
  font-size: 40px;
}
nav {
  text-align: center;
  background-color: rgba(142, 142, 142, 0.438);
  padding: 30px;
}
nav > a {
  text-align: center;
  padding: 12px 30px 12px 30px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
nav a:hover {
  color: rgb(190, 42, 42);
}
.active {
  color: rgb(255, 255, 255);
}

.main-content {
  text-align: center;
  height: auto;
  padding: 35px;
}
footer {
  background-color: rgb(216, 216, 216, 0.27);
  padding: 20px;
  text-align: center;
}

video{
    width: 650px;
    height: auto;
}

.xd-tutorial{
    width: fit-content;
    margin: auto;
}

.xdnav a:hover {
    color: #eb47bd;
  }
.htmlnav a:hover {
      color: #e44d26;
    }

.cssnav a:hover {
      color: #0171bf;
    }
.jnav a:hover {
        color: #f7df1e;
      }   

/*ELLINOR Slut*/

/* tengils kod börjar */
.code,
.result {
  width: 49%;
  display: inline-block;
  text-align: left;
  background-color: #fff;
}
.explanation {
  text-align: left;
}
.result {
  float: right;
}
.code{
    white-space: pre-wrap;
}
.subject {
  padding: 5px;
  background-color: #eee;
  box-shadow: 2px 2px 20px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.subject h2,
.subject p {
  margin-top: 10px;
  margin-bottom: 10px;
}
#bonus1:hover {
  color: #fff;
  background-color: #000;
}
.bonus {
  width: fit-content;
  padding: 5px;
  background-color: #3d3;
}

#challenge1 {
  display: none;
}
canvas {
  background-color: #fff;
}

/* tengils kod slutar */

/*FRIDA start */

.clearfix{
    clear: both;
}



/*FRIDA sluta*/
