

 .tengil {
  font-size: 5000px;
}
  .frida{
      color: blue;
  }
  
  nav{
      text-align: center; 
  }
  
  .img{
      display: block; 
      width: 100px;
      height: auto;
      text-align: center;
  }
  
  
  
  /*ANNA start */
  
  
  
  
  /*ANNA Slut*/

  /*ELLINOR Start*/


  
  /*ELLINOR Slut*/

/* tengils kod börjar */

/* tengils kod slutar */






